.container-item {
	display: flex;
	flex-direction: column;
	/* flex-basis: 100px; */
	width: 200px;
	border-radius: 10px;
	padding: 15px;
	background-color: rgb(255, 255, 255);
	/* flex-basis: 230px; */
	height: auto;
}

/* .img {
	position: relative;
	align-self: center;
	border-radius: 5px;
	width: 100%;
	height: auto;
} */

.name {
	font-size: 20px;
	font-weight: 600;
	color: rgb(0, 0, 0);
	margin-top: 10px;
}

.nationality-link {
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
	margin-top: -20px;
	align-items: center;
	width: 20%;
}

.left-side {
	display: flex;
	gap: 5px;
	align-items: center;
	font-size: 15px;
	font-weight: 600;
	color: rgb(0, 0, 0);
}

.button {
	margin-left: 100%;
	background-color: orange;
	position: relative;
	border: none;
	border-radius: 10px;
	padding: 30% 100%;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
}

.button:active {
	transform: scale(99%);
}

hr {
	margin-top: 0;
}
