.savedCourses--container {
    padding: 20px;
    width: 100%;
    font-weight: bold;
}

.savedCourses--container h2 {
    color: black;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

.savedCourses--container .savedCourseInfo {
    margin-bottom: 20px;
}