.exams-grade {
	display: flex;
	/* justify-content: space-between; */
	/* align-items: center; */
}

.exams-popup {
	margin-top: 9rem;
}

.add-Course {
	position: absolute;
	width: 150px;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: 500;
	margin-left: 15rem;
	margin-top: 1.6rem;
	background-color: #1b2430;
	border: none;
	transition: 0.4s ease-in-out;
}

.add-Course:hover {
	cursor: pointer;
	transform: scale(103%);
	background-color: #1b2430;
	border: none;
}

.add-Course:active {
	transform: scale(100%);
	border: none;
}
