.courses--page--heading{
    background-color:#6FB3B8;
    margin-bottom: 20px;
    height: 200px;
    padding-top: 10px;
    padding-left: 12px;

}


.courses--page--title{
    color:  #fff;
    font-weight: 700;
    margin-left: 5px;
    font-size: 1.2rem;
    font-size: 24pt;
}


.courses--page--textBody{
    color:  #fff;
    margin-left: 5px ;
    font-size: 1.1rem;  
    
}
