#exams--page--exam--card {
	width: 250px;
	margin-left: 20px;
	margin-top: 20px;
}

.exam-card-title {
	font-size: 24pt;
	font-weight: bolder;
	margin-top: 10px;
	margin-bottom: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.exam-card-logo {
	width: 200px;
	/* height: 70%; */
	margin-left: 50%;
	transform: translateX(-50%);
	/* object-fit: cover; */
}

.exam-card-show-button {
	width: 30px;
	height: 25px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px;
	transition: all 0.1s ease-in-out;
}

.exam-card-show-button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.exam-card-price-subject {
	display: flex;
	justify-content: space-between;
}

.exam-card-about {
	font-size: 13pt;
	margin-top: 15px;
	margin-bottom: 10px;
	max-height: 100px;
	overflow-y: auto;
}

.exam-car-horizontal-line {
	margin-top: -2px;
	margin-bottom: -2px;
}

.exam-card-price {
	font-size: 15pt;
	margin-top: 10px;
	margin-bottom: 10px;
}

.exam-card-subject {
	font-size: 15pt;
	margin-top: 10px;
	margin-bottom: 10px;
	font-style: italic;
	font-weight: bold;
}

.exams--page--exam--card--img {
	width: 100%;
	object-fit: cover;
}

.exam-card-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 10px; */
}

.exam-card-footer-button {
	float: right;
	padding: 7px 20px;
	background-color: #cdcaca;
	border: none;
	border-radius: 7px;
}

.exam--save--logo {
	width: 30px;
	height: 25px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
}

.exams--page--exam--button {
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 7px 20px;
	background-color: #cdcaca;
	border: none;
	border-radius: 7px;
}

.card-wrapper {
	position: relative;
}

.card-wrapper.locked .card {
	filter: grayscale(0.8);
	pointer-events: none;
}
