/* .admin-dashboard-tests {
	margin: 0px;
	padding: 0px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.navBar {
	position: sticky;
	top: 0;
	z-index: 999;
	margin-top: -30px;
}

.grade1 {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	width: 1000px;
	height: 300px;
	margin-top: 50px;
	justify-content: start;
}

.footer {
	margin: 0px;
	width: 100vw;
	position: sticky;
	bottom: 0;
	margin-top: auto;
} */
