.savedTests--container {
    padding: 20px;
    width: 100%;
    font-weight: bold;
}

.savedTests--container h2 {
    color: black;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

.savedTests--container .savedTestsInfo {
    margin-bottom: 20px;
}