.recommended-schools--component {
	padding: 1rem;
	display: flex;
	justify-content: center;
}
.recommended-schools-carousel {
	max-width: 1300px;
	margin-left: 5rem;
	margin-right: 10rem;
	margin-top: 5px;
	margin-bottom: 5px;
}

.recommended-schools-card-item {
	padding-left: 2.2rem;
}
