.test--component--left {
	display: flex;
	/* align-items: center; */
	padding: 1%;
	border: 1px solid #ccc;
	/* height: auto; */
	background-color: white;
}

.test--component--left > * {
	margin-right: 0px;
}

/* .course--component--right {
    border: 1px solid #ccc;
    flex-grow: 1;
    background-color: red;
} */

/* .test--component--container {
    display: flex;

} */
