.admin-navbar-container {
	display: flex;
	justify-content: space-between;
	background-color: #1b2430;
	padding: 20px 80px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	align-items: center;
}

.admin-navbar-links {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 8px 80px;
	color: white;
	font-size: 20px;
}

.item-link {
	color: white;
	font-size: 20px;
}

.item-icons {
	margin-right: 10px;
}

.admin-username {
	margin-left: 8px;
	font-weight: 600;
	font-size: larger;
}
