.school-card {
	width: 18rem;
	height: 30rem;
	margin-left: 32px;
	margin-top: 20px;
}

.school-card:hover {
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
	transform: scale(101%);
	transition: 600ms;
	cursor: pointer;
}

.school-card-header-row {
	display: flex;
	/* flex-direction: row; */
	justify-content: space-between;
}

.school-card-header {
	height: 50px;
}

.school-card-header-left-group {
	display: flex;
	gap: 10px;
	justify-content: start;
}

.school-card-header-left {
	/* margin-top: 30px; */
	display: flex;
	/* flex-direction: column; */
	/* justify-content: left; */
	align-items: center;
	width: 1rem;
	/* height: 10px; */
}

.school-card-header-left-icons {
	display: flex;
	flex-direction: column;
	/* width: 20px; */
}

.school-card-header-left-icons-item {
	margin: 0;
	width: 20px;
	margin-right: 0.5rem;
}

.school-card-header-left-text {
	margin: 0;
}

.school-card-header-right {
	/* margin-top: 30px; */
	display: flex;
	justify-content: end;
}

.school-card-header-right-text {
	margin: 0;
	margin-right: 4px;
}

.school-card-img {
	width: auto;
	height: 200px;
}

.school-card-body {
	display: flex;
	flex-direction: column;
	/* <<<<<<< HEAD
	align-items: left;
	text-align: left;
======= */
	align-items: center;
	justify-content: space-between;
}

.school-card-body-title {
	font-size: 1.5rem;
	font-weight: 600;
}

.school-card-body-small {
	opacity: 0.7;
	text-align: left;
}

.school-card-footer-row {
	display: flex;
	align-items: center;
}

.school-card-footer-row-left-text {
	/* display: block; */
	font-size: small;
	opacity: 0.7;
	width: 200px;
}

.school-card-footer-row-right {
	/* display: flex; */
	/* justify-content: end; */
	align-items: center;
	margin: 0;
}

.school-card-footer-row-right-button {
	background-color: rgb(141, 141, 141);
	border: none;
	border-radius: 5px;
	padding: 5px 20px;
}

/* #cardd {
	width: 18rem;
	margin-left: 32px;
	margin-top: 20px;
	height: 28rem;
} */

/* #cardd:hover {
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
	transform: scale(101%);
	transition: 600ms;
	cursor: pointer;
} */
