.heading {
    background-color: #6FB3B8;
    margin-bottom: 20px;
    height: 200px;
    padding-top: 10px;
    padding-left: 12px;

}


.firstLine {
    color: #fff;
    font-weight: 500;
    margin-left: 5px;
    font-size: 1.2rem;
}

.Moto {
    color: #fff;
    font-weight: 700;
    margin-left: 15px;
    font-size: 1.5rem;
    margin-top: -10px;

}

.textBody {
    color: #fff;
    margin-left: 5px;

}