.Navbar > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3e939f;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

}


.Nav-img {

    width: 50px;
    height: 40px;
}


#nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-items li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#nav-items a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;

}

#nav-items a:hover {
    color: #17cf97;
}

#nav-items a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.navbar-applicant-username svg{
    vertical-align: inherit;
}