.add-course-popup-inner-container {
	border-radius: 25px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	width: 50rem;
	max-height: 40rem;
	overflow-y: auto;
}

.add-course-popup-button-container {
	display: flex;
	justify-content: center;
}

.add-course-popup-button {
	border-radius: 20px;
	background-color: #17cf97;
	border: none;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

.add-course-popup-button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.add-course-popup-button:active {
	transform: scale(1.05);
}

.add-course-popup-xmark {
	position: relative;
	z-index: 1;
	top: -0.5rem;
	left: 46rem;
	border-radius: 50%;
	color: rgb(0, 0, 0);
}

.add-course-popup-xmark:hover {
	cursor: pointer;
	transform: scale(1.2);
	transition: 0.1s ease-in-out;
}

.add-course-popup-xmark:active {
	transform: scale(1.1);
	transition: 0.2s ease-in-out;
}

.add-course-popup-title {
	font-size: 20px;
	font-weight: 600;
	margin-top: -2rem;
	margin-bottom: 20px;
}
