.savedSchools--component--content {
	display: flex;
	flex: 1 0 auto;
}

.savedSchools--component--main {
	flex: 1;
	padding: 1rem;
}

.savedSchools--component--main h2 {
	margin-top: 2%;
	margin-right: 70%;
	font-weight: bold;
	text-align: left;
}

.savedSchools--component--main--saved {
	border-bottom: black 1px solid;
}