.detailed--search--combined--checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .detailed--search--combined--checkbox input[type='checkbox'] {
    margin-right: 0.5rem;
  }

  .detailed--search--sidebar--label{
    float: left;
    display: flex;
    align-items: left;
    align-self: flex-start;
    }

  .detailed--search--price{
    float: left;
    width: 100%;
  }

  .detailed--search--sidebar--container {
    display: flex;
    flex-direction: column;
  }