.exams--page--heading{
    background-color:#0e2e58;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 200px;
    padding-top: 10px;
    padding-left: 12px;

}


.exams--page--title{
    color:  #fff;
    font-weight: 700;
    margin-left: 5px;
    font-size: 1.2rem;
    font-size: 24pt;
}


.exams--page--textBody{
    color:  #fff;
    margin-left: 5px ;
    font-size: 1.1rem;  
    
}
